body {
	background-color: #f1f3f4;
}
h1 {
	
	color: #333;
}
table {
	text-align: center;
	font-size: 24px;
	color: #333;
	
}
.btn:hover {
	color: #f1f3f4;
	background-color: #333;
}
.btn:active {
	color: red;
	background-color: #f1f3f4;
}
