body {
	background-color: #2a343d;
}
h1 {
	
	color: #eee;
}
table {
	text-align: center;
	font-size: 24px;
	color: #eee;
	
}
.btn:hover {
	color: #2a343d;
	background-color: #eee;
}
.btn:active {
	color: red;
	background-color: #2a343d;
}
	